<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37211630046-pnjt96nurue003901ib1i6m0a749ota7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37211630046-pnjt96nurue003901ib1i6m0a749ota7</string>
	<key>API_KEY</key>
	<string>AIzaSyBqAIkbXXMk5-5WjycBdaPW9a-D-QIcLT8</string>
	<key>GCM_SENDER_ID</key>
	<string>37211630046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirloin.imitateSirloin</string>
	<key>PROJECT_ID</key>
	<string>imitage-sirloin</string>
	<key>STORAGE_BUCKET</key>
	<string>imitage-sirloin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37211630046:ios:9c4bd7c71d2ca95d9a554f</string>
</dict>
</plist>